*{
  box-sizing: border-box;
}
/*----layout of the home page----*/
html, body{
  /*background: linear-gradient(123deg, rgba(0, 0, 0, 0.35) 0%, rgb(210, 223, 240) 100%) no-repeat fixed;*/
  background: rgb(191, 202, 221) url(imagenes/vecteezy_sunset-lake-landscape-illustration_.jpg) no-repeat fixed;
  background-size: 100% 100%;
  height:100%;
  margin: 0;
}
.columna{
  border: 5px solid;
  display: inline-block;
  background: transparent;
  width: 100%;
  height: 100%;
  position:absolute;
  z-index: 1;
}
#navizq{
  /*background-color: rgba(147, 151, 179, 0.3);*/
  left: 0px;
  width: 100px;
  border: none;
  padding: 0;
  z-index: 2;
}
/*----------nabvar tuning----------*/
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
 /* background-color: rgba(147, 151, 179, 0.3);*/
}
li a {
  background-color: rgba(147, 151, 179, 0.5);
  display: block; /* Block elements take up the full width available by default*/
  padding: 100% 20px;
  height: 0;
  margin: 5px 0 0;
  text-decoration: none;/*removes the underline*/
  box-shadow: 0px 0px 20px 0px #3d3d3d;
  border-radius: 0 20px 20px 0;
}
li a:hover {
  display: block; /* Block elements take up the full width available by default*/
  padding: 100% 20px;
  height: 0;
  margin: 5px 0 0;
  text-decoration: none;/*removes the underline*/
  box-shadow: 0px 0px 5px 0px #3d3d3d;
  border-radius: 0 20px 20px 0;
}

/*.navizq{
  background-color: rgba(147, 151, 179, 0.3);
  width: 8%;
  height: auto;
  border-style: none;
  padding:1%;
  margin: -1%;
  overflow: hidden;
}*/

/*a.navizq{
  width: inherit;
  float: left;
  display: block;
  text-align: center;
  padding: 50px;
  
}*/

/*.nav-btn{
  width: 10%;
  border-radius: 40px 80px 80px 40px;
  margin: 20px 10px;
  padding: 5%;
  box-shadow: -10px 7px 20px 9px #3d3d3d;
}
.nav-btn:hover{
  width:9%;
  border-radius: 40px 80px 80px 40px;
  margin: 20px 10px;
  padding: 5%;
  box-shadow: 0px 0px 20px 0px #3d3d3d;
}
